.componentWrapper {
  margin: 4rem 8rem 4rem 8rem;
  margin: 5px auto;
  background: white;
  height: auto;
  width: auto;
  border: solid green 1px;
  border-radius: 5px;
  color: black;
  padding: 5px;
}
