$layout-small: var(--layout-small);

@mixin withWhiteBackground() {
  position: relative;
  background-color: var(--color-white);

  &::after {
    content: '';
    position: absolute;
    z-index: -3;
    top: 0;
    left: -100vw;
    height: 100%;
    width: 100vw;
    color: var(--color-white);
    background-color: currentColor;
    -webkit-box-shadow: 10px 0 0 0 currentColor, 100vw 0 0 0 currentColor;
    box-shadow: 10px 0 0 0 currentColor, 100vw 0 0 0 currentColor;
  }
}

.dnbHeader {
  @include withWhiteBackground();
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  z-index: 2005; // must be higher than menu modal, but lower than regular modals

  .dnbHeaderLogo {
    justify-self: center;
    grid-row: 2;
    width: 100%;

    text-align: center;

    :global(.dnb-logo) {
      padding: calc(var(--spacing-x-small) / 2);
    }

    .dnbHeaderBorderBottom {
      display: none;
    }

    @media screen and (max-width: 40em) {
      order: -1;
      grid-row: 1;
      grid-column: 1/3;

      svg {
        height: 24px;
        width: auto;
      }

      .dnbHeaderBorderBottom {
        display: block;
      }
    }
  }
}

.dnbHeaderBorderBottom {
  margin-block-start: 0;
  margin-block-end: 0;
  border-style: none;
  height: 1px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: -100vw;
    bottom: 0;
    width: 100vw;
    height: 1px;

    background-color: var(--color-black-8);
    box-shadow: 100vw 0 0 0 var(--color-black-8);
  }
}
